/bin/
 # Ignore Eclipse metadata and workspace files
 .metadata/
 *.log
 *.snap
 *.markers
 *.prefs
 *.xmi
 *.index
 *.dat
 *.xml
 # 
Maven build output
 target/
 # Eclipse-specific
 .classpath
 .project
 .settings/
